.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  background-color: #424549;
}

.grid td {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border-radius: 0;
  border-spacing: 0;
  text-align: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  /* background-image: url(../pages/ms-copy.jpg); */

}

.grid td:hover {
  background-color: lightpink;
}

.grid {
  background-color: transparent;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-collapse: collapse;
}
