.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  background-color: #424549;
}

.grid td {
  width: 30px;
  height: 30px;
  border: .5px solid black;
  background-color: #404040;
  
}

.grid {
  background-color: #1E2124;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}